<%- include('cabeceras/cabeceras')%>
<body>
    <h1>Pagina de productos</h1>
    <h2><%= result %></h2>
    <h1><%= result1 %></h1>


    <button id="alta">alta</button>
    <button id="login">Login</button>
    <button id="usuarios">Usuarios</button>

    <script src="/js/index.js"></script>
</body>
</html>